In [ ]:
1 # create a 5 dimensional array with all zeros and ones

In [3]:
import numpy as np

In [4]:
a = np.random.randint(2,size=(5,5))
b = np.zeros((1,1,1,5,5),dtype=int)
b[0,0,:,:] = a
print(b)

[[[[[0 1 0 1 0]
    [1 1 1 0 1]
    [1 0 0 0 0]
    [1 0 0 0 0]
    [0 0 1 1 1]]]]]

In [5]:
#2. create an array of 10 zeros, 10 ones, and 10 fives in row 12 and 3 which create a new array of shape a93,10

In [7]:
x = np.zeros([10],dtype=int)
y = np.ones([10],dtype=int)
z = np.full([10],5,dtype=int)
A = np.stack((x,y,z))
A

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [5, 5, 5, 5, 5, 5, 5, 5, 5, 5]])

In [8]:
#3. create an array 3x4 matrix filled with values from 10 to 21

In [10]:
Q = np.arange(10,22).reshape(3,4)
Q

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

In [11]:
# 4. create a 10X10 zero matrix with element on main diagonal equal to 0,1,2,3,4,5,6,7,8,9,

In [13]:
W = np.diag([1,2,3,4,5,6,7,8,9,])
W

array([[1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 4, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 6, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 8, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 9]])

In [14]:
# 5.create an array by swapping first and last,second and third

In [17]:
R = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
np.flip(R,0)

array([[13, 14, 15, 16],
       [ 9, 10, 11, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

In [19]:
# 6. reverse an array

In [18]:
a = np.array([12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27])
np.flip(a)

array([27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12])

In [21]:
# 7. program to access all elements greater than 30 and less than 80 and multiple of 5 from an array
#shape of 10,10. elements range (1,100)

In [28]:
 x = np.arange(1,101).reshape(10,10)
y = []
for i in x:
    for j in i:
        if j>30 and j<80 and j%5==0:
            y.append(j)
print(x)
print("\n elements greater than 30 and less than 80 and multiple of 5 are:")
print(y)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]

 elements greater than 30 and less than 80 and multiple of 5 are:
[35, 40, 45, 50, 55, 60, 65, 70, 75]

In [29]:
# 8. create a 2D array with 1 on border and 0 inside

In [34]:
t = np.ones((4,4),dtype=int)
t[1:-1,1:-1]=0
t

array([[1, 1, 1, 1],
       [1, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 1]])

In [35]:
# 9.create a checkboard pattern . don't use default array function

In [41]:
a = int(input('enter a row:'))
b = int(input("enter a column:"))
c = np.zeros((a,b),dtype=int)
for i in range(a):
    for j in range(b):
        if (i+j)%2==0:
            c[i,j]=1
print(c)

enter a row:10
enter a column:10
[[1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]]

In [42]:
# 10. find common values between two arrays

In [43]:
u = np.array([10,20,40,60])
v = ([10,30,40,50])
w = np.intersect1d(u,v)
w

array([10, 40])

In [44]:
# 11. create an 2D array and than reshape into 1D

In [50]:
q = np.array([[1,2,3],[4,5,6],[7,8,9]])
r = q.reshape(-1)
print("original array")
print(q)
print('reshaped array',r)

original array
[[1 2 3]
 [4 5 6]
 [7 8 9]]
reshaped array [1 2 3 4 5 6 7 8 9]

## 12

In [51]:
a = []
for i in range(0,11):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]